body{
    background-color: rgb(31, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    font: 0.9em;
    margin: 0;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 5.5em;
    color: white;
    padding-top: 20px px;
}


a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.link{
    color: blue;
}

a:hover{
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: small;
    text-align: center;
    padding-bottom: 1px;
}

h3{
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.flex1, .flex, .flex2{
    display: flex;
    color: #fff;
}

.img{
    width: 20px;
}

.flex2{
    align-items: center;
}

.flex2{
    justify-content: end;
    padding-left: 1000px;
}

div.flex p, div.flex img{
    padding: 10px;
}

.img:hover{
    cursor: progress;
}

p:hover{
    color: aqua;
    cursor: pointer;
}

input{
    background-color: white;
    border: 1px solid black;
    margin-top: 6px;
    padding-left: 5px;
    height: 20px;
    font-size: 10px;
    width: 100%;
    margin-right: 12px;
}